/* StudentInput.css */
.Postintern-student-input {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    margin-top: 5rem;
  }
  
  .Postintern-student-input input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Postintern-student-input button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Postintern-student-input button:hover {
    background-color: #45a049;
  }
  